
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #F2D6BA;
}

#logo {
    width: 120%;
    max-width: 100px;
    height: auto;
}

.left-itens {
    display: flex;
    max-width: max-content;
}


.right-itens {
    display: flex;
    justify-content: flex-end;
}

.itens {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 25px;
}

.nav-item a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}


.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
footer{
    padding: 1%;
    position: relative;
    bottom: 0%;
    width: 100%;
    background-color: rgb(255, 232, 127);
    text-align: center;

/* Responsividade */
@media screen and (max-width: 768px) {
    .right-itens {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #f4f4f4;
        position: absolute;
        top: 60px; /* Ajuste dependendo da altura do header */
        left: 0;
    }

    .right-itens.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    #logo {
        max-width: 100px;
    }

    .itens {
        flex-direction: column; /* Faz as opções aparecerem uma abaixo da outra */
        width: 100%; /* Faz com que as opções ocupem toda a largura */
    }

    .nav-item {
        margin: 15px 0;
        width: 100%;
        text-align: center; /* Centraliza o texto */
    }
}
